# 내가 지금 하려는 것
- 연관성 분석 즉 Assoiciation Analysis 해볼려고

In [2]:
import pandas as pd
name_list = ["강원","광주","김천","대구","대전","서울","수원FC","울산","인천","전북","제주","포항"]

def Association_Analysis(name):
    file_path = f"2024_team_data\{name}.txt" 
    df = pd.read_csv(file_path, encoding="utf-8", sep=",")
    return df

for i in range(0,12):
    print(name_list[i])
    print(Association_Analysis(name_list[i]).head())

강원
    label data
0      득점   62
1      도움   41
2      슈팅  434
3    유효슈팅  167
4  블락된 슈팅   86
광주
    label data
0      득점   42
1      도움   24
2      슈팅  432
3    유효슈팅  145
4  블락된 슈팅   84
김천
    label data
0      득점   55
1      도움   31
2      슈팅  506
3    유효슈팅  172
4  블락된 슈팅  105
대구
    label data
0      득점   45
1      도움   24
2      슈팅  467
3    유효슈팅  158
4  블락된 슈팅   92
대전
    label data
0      득점   43
1      도움   27
2      슈팅  342
3    유효슈팅  129
4  블락된 슈팅   70
서울
    label data
0      득점   55
1      도움   44
2      슈팅  413
3    유효슈팅  166
4  블락된 슈팅   77
수원FC
    label data
0      득점   54
1      도움   39
2      슈팅  493
3    유효슈팅  168
4  블락된 슈팅  107
울산
    label data
0      득점   62
1      도움   40
2      슈팅  450
3    유효슈팅  192
4  블락된 슈팅   83
인천
    label data
0      득점   38
1      도움   23
2      슈팅  425
3    유효슈팅  138
4  블락된 슈팅   67
전북
    label data
0      득점   49
1      도움   35
2      슈팅  414
3    유효슈팅  123
4  블락된 슈팅   83
제주
    label data
0      득점   38
1      도움   17
2      슈팅  475
3    유효슈팅  164
4  블락된 슈팅   84
포항
    label data
0      득점   53
1      도움   31
2      슈팅  428
3    유효슈팅  154
4  블락된 슈팅   74

<string>:5: SyntaxWarning: invalid escape sequence '\{'
<>:5: SyntaxWarning: invalid escape sequence '\{'
<string>:5: SyntaxWarning: invalid escape sequence '\{'
<>:5: SyntaxWarning: invalid escape sequence '\{'
C:\Users\USER\AppData\Local\Temp\ipykernel_11800\2093466045.py:5: SyntaxWarning: invalid escape sequence '\{'
  file_path = f"2024_team_data\{name}.txt"

In [3]:
import pandas as pd
name_list = ["강원","광주","김천","대구","대전","서울","수원FC","울산","안양","전북","제주","포항"]



def Association_Analysis(name):
    file_path = f"2025_team_data\{name}.txt" 
    df = pd.read_csv(file_path, encoding="utf-8", sep=",")
    return df

    

for i in range(0,12):
    print(name_list[i])
    print(Association_Analysis(name_list[i]).head())

강원
    label data  points
0      득점    3       4
1      도움    2       4
2      슈팅   30       4
3    유효슈팅   12       4
4  블락된 슈팅    5       4
광주
    label data  points
0      득점    4       6
1      도움    2       6
2      슈팅   26       6
3    유효슈팅    9       6
4  블락된 슈팅    7       6
김천
    label data  points
0      득점    4       4
1      도움    1       4
2      슈팅   27       4
3    유효슈팅   10       4
4  블락된 슈팅    5       4
대구
    label data  points
0      득점    5       1
1      도움    2       1
2      슈팅   46       1
3    유효슈팅   12       1
4  블락된 슈팅    7       1
대전
    label data  points
0      득점    4       7
1      도움    2       7
2      슈팅   33       7
3    유효슈팅   10       7
4  블락된 슈팅   10       7
서울
    label data  points
0      득점    2       4
1      도움    2       4
2      슈팅   34       4
3    유효슈팅    7       4
4  블락된 슈팅    6       4
수원FC
    label data  points
0      득점    1       3
1      도움    1       3
2      슈팅   21       3
3    유효슈팅    6       3
4  블락된 슈팅    5       3
울산
    label data  points
0      득점    3       6
1      도움    3       6
2      슈팅   43       6
3    유효슈팅    9       6
4  블락된 슈팅   13       6
안양
    label data  points
0      득점    3       4
1      도움    2       4
2      슈팅   23       4
3    유효슈팅    7       4
4  블락된 슈팅    5       4
전북
    label data  points
0      득점    4       4
1      도움    3       4
2      슈팅   35       4
3    유효슈팅   12       4
4  블락된 슈팅    8       4
제주
    label data  points
0      득점    4       5
1      도움    3       5
2      슈팅   26       5
3    유효슈팅   12       5
4  블락된 슈팅    3       5
포항
    label data  points
0      득점    1       1
1      도움    1       1
2      슈팅   35       1
3    유효슈팅    8       1
4  블락된 슈팅    5       1

<string>:7: SyntaxWarning: invalid escape sequence '\{'
<>:7: SyntaxWarning: invalid escape sequence '\{'
<string>:7: SyntaxWarning: invalid escape sequence '\{'
<>:7: SyntaxWarning: invalid escape sequence '\{'
C:\Users\USER\AppData\Local\Temp\ipykernel_11800\3397796309.py:7: SyntaxWarning: invalid escape sequence '\{'
  file_path = f"2025_team_data\{name}.txt"